<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HorizontalListViewSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB559D4D1D4713E8009E8775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB559D661D4713E9009E8775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB559D711D4713E9009E8775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
